
header{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
}

body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 10px;
    color: white;
    background: linear-gradient(to right, #0D1321, #1D2D44, #3E5C76,#748CAB, #9dadcf)
}

div{
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 20px;
    background-color: rgb(97, 209, 194);
    text-align: center;
    width: auto;
    height: auto;
    color: black;
}

footer{
    background-color: aliceblue;
    text-align: center;
    width: 50px;
    color: black;
}

#Image{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

 
}

#toggle {
        margin-bottom: 2rem;
}

img{
      border: 5px solid;
   color: black;
}